* {
    margin: 0;
    padding: 0;
}
html, body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    font-size: 18px;
    text-align: center;
}
.cursive {
    font-style: italic
}
.bold {
    font-weight: bold;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 100;
    min-width: 100%;
    min-height: 2.225rem;
    padding: 0.278rem;
    border-bottom: 1px solid whitesmoke;
}
header nav a {
    padding: 0 0.55rem;
    text-decoration: underline;
    color: white;
}
main {
    padding-top: 2.778rem;
}
#who {
    background-image: url("https://cdn.pixabay.com/photo/2016/09/05/14/04/blimp-1646639_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#who div {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.content {
    background-color: black;
    color: white;
    min-width: 100%;
    margin: 1.67rem 0;
}
h1.content {
    font-size: 2rem;
}
h2.content {
    font-size: 1.5rem;
}
#what, #holla {
    margin: 2.223rem;
}
.container, .employee {
    background-color: black;
    color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.0556rem solid whitesmoke;
    border-radius: 0.278rem;
    max-width: 20%;
    padding: 0.56rem
}
.container h3, .employee h4 {
    padding: 0.278rem
}
.container img, .employee img {
    max-height: 8.34rem;
}
.container p span {
    font-size: 0.5rem;
}
@media only screen and (max-width: 480px) {
    header {
        justify-content: center;
    }
    header h1 {
        display: none;
    }
    .container, .employee {
        max-width: 100%;
    }
}
@media only screen and (max-width: 1025px) {
    .container, .employee {
        max-width: 100%;
    }
}